@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Montserrat:700');

body {
    margin: 5px 30px 5px 30px;
    padding: 0;
    font-family: Open Sans;
    background-color: #F6F7F2;
}

h4 {
    margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.title_header { 
    text-transform: uppercase;
    text-align: center;
    padding: 30px 0px 20px 0px;
    letter-spacing: 3px;
    background-position: 50% 60%;
    background-repeat:no-repeat;
}

#titre_principal {
    font-family: Oswald;
    font-size: 32px;
    color: #222;
}

#soustitre_principal {
    font-size: 22px;
    color: #111;
    font-family: "Microsoft YaHei";
}

nav {
    width: auto;
    background-color: #EEEEEE;
    margin-bottom: 20px;

}

nav > ul {
    padding: auto;
    margin: 0;
    padding-left: 15px;
}

nav li {
    list-style-type: none;
}

nav li:hover {
    border-top: 5px solid #BBB;
}

nav li:hover .submenu {
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
    z-index: 100000;
}

nav a {
    display: inline-block;
    text-decoration: none;
}

nav > ul > li {
    float: left;
    position: relative;
}

nav > ul > li > a {
    padding: 10px 20px;
    color: #22313F;
}

nav > ul > li > h4 {
    padding: 10px 20px;
    margin: 0;
}

nav > ul > li:hover a {
    padding: 5px 20px 10px 20px;
}

nav > ul::after {
    content: "";
    display: block;
    clear: both;
}

.submenu {
    display: none;
}

.submenu li {
    border-bottom: 1px solid #CCC;
    background-color: #EEEEEE;
}

.submenu li:hover {
    background-color: #DADFE1;
}

.submenu li a {
    padding: 15px 30px;
    font-size: 13px;
    color: #34495E;
    width: 270px;
}

nav i {
    color: #002F2F;
}

article {
    border: 1px solid #25373D;
    margin-bottom: 20px; 
    padding: 15px 30px 15px 30px;
}

footer {
    background-color: #25373D;
    color: #D2D7D3;
    text-align: center justify;
    display: flex;
}

footer p {
    padding: 2px;
    padding-left: 25px;
}

footer ul {
    display: flex;
    flex-direction: row;
}

footer li {
    list-style-type: none;
    padding-left: 15px;
}

.recettes_box {
    border: 1px solid #555;
    background-repeat: no-repeat;
    background-size: auto;
    padding: 5%;
    text-align: center;
    margin-bottom: 40px;
}

.recettes_box:hover {
    box-shadow: 1px 1px 13px #555; 
    text-shadow: 1px 1px 13px #555;
    cursor: pointer;
}

.recettes_box a {
    text-decoration: none;
    font-size: 36px;
    font-style: italic;
    color: #FFF;
}

#slidy-container { 
  width: 60%; overflow: hidden; margin: 0 auto;
}

#carte {
    width: 30%;
    height: auto;
}

.menu {
    position: relative;
    background: #25373D;
    margin: 0;
    height: auto;
    display: block;
    width: 100%;
    cursor: pointer;
    color: #D2D7D3;
}

.menu > h2 {
    padding: 20px 0px 20px 0px;
}

.contenu {
    background: #D2D7D3;
    padding: 0px 15px;
    margin: 5px 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    position: relative;
    opacity: 0;
    transition: .4s ease;
}

.menus:checked ~ .contenu{
    height: auto;
    opacity: 1;
    padding: 15px;
}

.menus {
    display: none;
}

article > strong {
    text-align: center;
}

video {
    width: 100%;
    height: auto;
}

#dl {
    text-decoration: none;
    font-size: 65px;
}